
	/*============================================================================
	#Desktop Menu
	==============================================================================*/

	#main-nav {
		ul {	
		height: 40px;
		background: #4c4e5a;
			li {
				position: relative;
				list-style: none;
				float: left;
				display: block;
				height: 40px;
				a {
					display: block;
					padding: 0 14px;
					margin: 6px 0;
					line-height: 28px;
					text-decoration: none;
					
					border-left: 1px solid #393942;
					border-right: 1px solid #4f5058;			

					color: #f3f3f3;
					text-shadow: 1px 1px 1px rgba(0,0,0,.6);
					
					@include transition(color .2s ease-in-out);
				}
				&:first-child {
				> a { border-left: none; }
				}
				&:last-child {
					> a{ border-right: none; }
				}
				&:hover {
					> a { color: #8fde62; }
					> ul {
						opacity: 1; 
						li {
							height: 36px;
							overflow: visible;
							padding: 0;
						}
					}
				}			
				/* Sub menu01 */
				ul {
					position: absolute;
					top: 40px;
					left: 0;
					z-index:99;
					height:auto;
					margin:0;
					opacity: 0;
					
					background: #1f2024;
				
					@include transition(opacity .25s ease .1s);
					li {
						height: 0;
						overflow: hidden;
						padding: 0;
						margin:0;
						
						@include transition(height .25s ease .1s);
						&:hover {
							> ul{
								z-index:999;
								> ul{ opacity: 1; 
									> li {
										height: 36px;
										overflow: visible;
										padding: 0;
									}
								}
							}
						}
						a {
							width: 132px;
							padding: 4px;
							margin: 0;
						
							border: none;
							border-bottom: 1px solid #353539;
						}
						&:last-child {
							> a { border: none; }
						}
						
						/* Sub menu Level 3 */
		
						ul{
							position: absolute;
							top: 0px;
							left: 132px;
						
							opacity: 0;
							
							background: #1f2024;
						
							@include transition(opacity .25s ease .1s);
							li {
								height: 0;
								overflow: hidden;
								padding: 0;
																			
								@include transition(height .25s ease .1s);					
								a {
									width: 150px;
									padding: 4px;
									margin: 0;
								
									border: none;
									border-bottom: 1px solid #353539;
								}
								&:last-child { 
								> a { border: none; }
								}
							}
						}
					}			
				}
			}			
		}
	}


	/*======================================================================
		#Moblie Menu
	=======================================================================*/


	/* hide the link until viewport size is reached */
	a.meanmenu-reveal {
		display: none;
	}
	/* when under viewport size, .mean-container is added to body */
	.mean-container {
		.mean-bar {
			float: left;
			width: 100%;
			position: relative;
			background: #0c1923;
			padding: 4px 0;
			min-height: 42px;
			z-index: 999999;
		}
		a {
			&.meanmenu-reveal {
				width: 40px;
				height: 40px;
				display: block !important;
				position: absolute;
				right: 20px !important;
				cursor: pointer;
				@include transition(background 0.5s);
				@include at-query ($max , $pre-sm){
					width: 34px;
					height: 34px;
					right:15px 	!important;	
				}
				span {
					display: block;
					position: absolute;
					width: 26px;
					height: 3px;
					top: 19px;
					left: 7px;
					right: 10px;
					background:$colorSecondary;
					@include at-query ($max , $pre-sm){
						width: 24px;
						height: 2px;
						top: 16px;
						left: 5px;
					}
					&:before,
					&:after{
						position: absolute;
						display: block;
						left: 0;
						width:26px;
						height:3px;
						background-color:$colorSecondary;
						content: "";
						@include transition(background 0.3s);
						@include transition-duration(0.3s, 0.3s);
						@include transition-delay(0.3s, 0s);
						@include at-query ($max , $pre-sm){
							width:24px;
							height:2px;
						}
					}
					&:before{
						top: -9px;
						-webkit-transition-property: top, -webkit-transform;
						-moz-transition-property: top, -moz-transform;
							-ms-transition-property: top, -ms-transform;
								transition-property: top, transform;
						@include at-query ($max , $pre-sm){
							top:-7px;					
						}
					}
					&:after{
						bottom: -9px;
						-webkit-transition-property: bottom, -webkit-transform;
						-moz-transition-property: bottom, -moz-transform;
							-ms-transition-property: bottom, -ms-transform;
								transition-property: bottom, transform;
						@include at-query ($max , $pre-sm){
							bottom:-7px;					
						}
					}
				}
				&.meanclose {
					span {	
						background: none;
						&:after{
							bottom: 0;
							@include transform(rotate(-45deg));
							@include transition-delay(0s, 0.3s);
						}
						&:before{
							top: 0;
							@include transform(rotate(45deg));
							@include transition-delay(0s, 0.3s);
						}	
					}
				}
			}
		}
		.mean-nav {
			float: left;
			width: 100%;
			background: #0c1923;
			margin-top: 33px;
			ul {
				padding: 0;
				margin: 0;
				width: 100%;
				list-style-type: none;
				li {
					position: relative;
					float: left;
					width: 100%;
					a {
						display: block;
						float: left;
						width: 90%;
						padding: 1em 5%;
						margin: 0;
						text-align: left;
						color: #fff;
						border-bottom: 1px solid #383838;
						border-bottom: 1px solid rgba(255,255,255,0.5);
						text-decoration: none;
						text-transform: uppercase;
						&:hover {
							background: #252525;
							background: rgba(255,255,255,0.1);
						}
						&.mean-expand {
							width: 26px;
							height: 26px;
							border: none !important;
							padding: 12px !important;
							text-align: center;
							position: absolute;
							right: 0;
							top: 0;
							z-index: 2;
							font-weight: 700;
							&:after,
							&:before{
							content:'';
							width:12px;
							height:2px;
							position:absolute;
							background-color:$colorBody;
							display:block;
							top: 22px;
							left: 17px;
							}
							&:after{
							width:2px;
							height:12px;
							top: 17px;
							left: 22px;
							}
							&.mean-clicked{
							&:after{
								display:none;
							}
							}
							&:hover {
								background: none;
							}
						}
						
					}
					&.mean-last {
						a {
							border-bottom: none;
							margin-bottom: 0;
						}
					}
					li{
						a{
							width: 80%;
							padding: 1em 10%;
							border-bottom: 1px solid #f1f1f1;
							border-bottom: 1px solid rgba(255,255,255,0.25);
							opacity: 0.75;
							filter: alpha(opacity=75);
							text-shadow: none !important;
							visibility: visible;
						}
						li{
							a{
								width: 70%;
								padding: 1em 15%;
							}
							li{
								a{
									width: 60%;
									padding: 1em 20%;
								}
								li{
									a{
										width: 50%;
										padding: 1em 25%;
									}
								}
							}
						}
					}				
				}		
			}
		}
		.mean-push {
			float: left;
			width: 100%;
			padding: 0;
			margin: 0;
			clear: both;
		}
	}
	.wrapper {
		width: 100%;
		padding: 0;
		margin: 0;
	}
		